<!DOCTYPE HTML>
<html>
<head>
<title>Navidad Totto {% block title %}{% endblock %}</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{{ asset('css/frontend/bootstrap.min.css') }}" />		
<link rel="stylesheet"
	href="{{ asset('bundles/px-relativity-html/blue/assets/css/main.css') }}" />
<link rel="stylesheet"
	href="{{ asset('css/frontend/base.css') }}" />

{% block extra_css %}{% endblock %}	
	
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		{{ include('@App/Frontend/Website/_header.html.twig') }}
		
		{% block body %}{% endblock %}


		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="#" class="icon alt fa-twitter"><span
						class="label">Twitter</span></a></li>
				<li><a href="#" class="icon alt fa-facebook"><span
						class="label">Facebook</span></a></li>
				<li><a href="#" class="icon alt fa-instagram"><span
						class="label">Instagram</span></a></li>
				<li><a href="#" class="icon alt fa-github"><span
						class="label">GitHub</span></a></li>
				<li><a href="#" class="icon alt fa-phone"><span
						class="label">Phone</span></a></li>
				<li><a href="#" class="icon alt fa-envelope-o"><span
						class="label">Email</span></a></li>
			</ul>
			<p class="copyright">&copy; EBclosion. All rights reserved.</p>
		</footer>

	</div>


	<!-- Scripts -->
	<!--<script
		src="{{ asset('bundles/px-relativity-html/blue/assets/js/jquery.min.js') }}"></script>-->
	<script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<script
		src="{{ asset('bundles/px-relativity-html/blue/assets/js/jquery.dropotron.min.js') }}"></script>
	<script
		src="{{ asset('bundles/px-relativity-html/blue/assets/js/jquery.scrollex.min.js') }}"></script>
	<script
		src="{{ asset('bundles/px-relativity-html/blue/assets/js/jquery.scrolly.min.js') }}"></script>
	<script
		src="{{ asset('bundles/px-relativity-html/blue/assets/js/browser.min.js') }}"></script>
	<script
		src="{{ asset('bundles/px-relativity-html/blue/assets/js/breakpoints.min.js') }}"></script>
	<script
		src="{{ asset('bundles/px-relativity-html/blue/assets/js/util.js') }}"></script>
	<script
		src="{{ asset('bundles/px-relativity-html/blue/assets/js/main.js') }}"></script>

{% block extra_scripts %}{% endblock %}

<script type="text/javascript">
/*
 * for activate menu
 */
$('.mainMenu').click(function() {
	$('#nav li').removeClass('current');
	$(this).parent().addClass('current');
});

</script>


</body>
</html>