{% extends '@App/Backend/base.html.twig' %}
{% block body %}
    <div class="card myAlert">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9 col-lg-10 col-sm-8 p-t-12 m-b-15">
                    <h5 class="text-muted f-w-300">Última actualización: &nbsp; <span id="mydateTime" class="text-c-purple mb-0 f-w-700">{{ dateTimeRequest }}</span></h5>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-4 text-right">
                    <button type="button" class="btn btn-glow-dark btn-dark btn-success btn-block"  data-from="top" data-align="center" data-animation-in="animated fadeIn" data-animation-out="animated fadeOut" id="myNotificationDashboard">Actualizar</button>
                </div>
            </div>
            <small>La actualización de datos automática se hace cada 10 minutos. Si lo desea, puede actualizar ahora presionando en el botón "Actualizar"</small>
        </div>
    </div>
    <div class="card Active-visitor">
        <div class="card-block text-center theme-bg">
            <h5 class="mb-4 text-white">Mensajes Recibidos</h5>
            <i class="fas fa-comments f-30 text-white"></i>
            <h2 class="f-w-300 mt-3 text-white"></h2>
            <h5 class="text-white">Esto es el total de fotografías de facturas recibidas a través del sistema de interacción automátizado por WahtsApp. De estas fotografías, se puede diferenciar además la cantidad de contactos recibidos.</h5>
            <div class="row card-active">
                <div class="col-md-6">
                    <h2 class="text-white" id="myqtyInvoices">{{ qtyInvoices }}</h2>
                    <span class="text-white">Fotografías Recibidas</span>
                </div>
                <div class="col-md-6">
                    <h2 class="text-white" id="myqtyContacts">{{ qtyContacts }}</h2>
                    <span class="text-white">Contactos Recibidos</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card Active-visitor">
        <div class="card-block text-center">
            <h5 class="mb-4">Facturas Procesadas</h5>
            <i class="fas fa-cog f-30 text-c-green"></i>
            <h2 class="f-w-300 mt-3" id="myqtyProcessed">{{ qtyProcessed }}</h2>
            <h5 class="text-muted">Cantidad de facturas procesadas por el personal de Recursos Humanos de Lala. De este proceso se derivan las facturas premiadas y rechazadas.</h5>
            <br><br>
            <div class="row card-active">
                <div class="col-md-6">
                    <h2 id="myqtyWinned">{{ qtyWinned }}</h2>
                    <span class="text-muted">Facturas Premiadas</span>
                </div>
                <div class="col-md-6">
                    <h2 id="myqtyRejected">{{ qtyRejected }}</h2>
                    <span class="text-muted">Facturas Rechazadas</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card theme-bg2 bitcoin-wallet">
                <div class="card-block">
                    <h5 class="text-white mb-2">Códigos Canjeados</h5>
                    <h2 class="text-white mb-3 f-w-300" id="myqtyChanged">{{ qtyChanged }}</h2>
                    <span class="text-white d-block">Códigos reclamados en las tiendas Totto</span>
                    <i class="feather icon-check-circle f-70 text-white"></i>
                </div>
            </div>        
        </div>
        <div class="col-md-6">
            <div class="card bg-c-blue bitcoin-wallet">
                <div class="card-block">
                    <h5 class="text-white mb-2">Códigos pendientes</h5>
                    <h2 class="text-white mb-3 f-w-300" id="myqtyPending">{{ qtyPending }}</h2>
                    <span class="text-white d-block">Códigos activos que aún no han sido canjeados</span>
                    <i class="feather icon-clock f-70 text-white"></i>
                </div>
            </div>        
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            function notifyDashboard(from,align,icon,type,animIn,animOut){
                $.growl(    
                    {icon:icon,title:' Dashboard actualizado... ',message:'',url:''},
                    {   element:'div.pcoded-content',
                        type:type,
                        allow_dismiss:true,
                        placement:{from:from,align:align},
                        offset:{x:30,y:-50},
                        spacing:10,
                        z_index:999999,
                        delay:2500,
                        timer:1000,
                        url_target:'_blank',
                        mouse_over:false,
                        animate:{enter:animIn,exit:animOut},
                        icon_type:'class',
                        template:   '<div data-growl="container" class="alert myAlertClass" role="alert">'+
                                    '<span data-growl="icon"></span>'+
                                    '<span data-growl="title"></span>'+
                                    '<span data-growl="message"></span>'+
                                    '<a href="#!" data-growl="url"></a>'+
                                    '</div>'
                    }
                );
            };
            $('#myNotificationDashboard').on('click',function(e){
                e.preventDefault();
                getDashboardData();
            });
            function getDashboardData(){
                var mySelector = '';
                $.post( '{{ path("backend_dashboard_refresh") }}', function( res ) {
                    $.each( res, function( key, value ) {               
                        mySelector = "my"+key;
                        $('#'+mySelector).html('');
                        $('#'+mySelector).html(value);
                    });
                    var nFrom=$('#myNotificationDashboard').attr('data-from');
                    var nAlign=$('#myNotificationDashboard').attr('data-align');
                    var nIcons=$('#myNotificationDashboard').attr('data-notify-icon');
                    var nType=$('#myNotificationDashboard').attr('data-type');
                    var nAnimIn=$('#myNotificationDashboard').attr('data-animation-in');
                    var nAnimOut=$('#myNotificationDashboard').attr('data-animation-out');
                    notifyDashboard(nFrom,nAlign,nIcons,nType,nAnimIn,nAnimOut);
                },'json').fail(function() {
                    console.log('Ocurrio un error al obtener los datos.');
                });
            };  
            var storeTimeInterval = setInterval(function(){
                getDashboardData();
            }, 600000);
        });
    </script>
    <script src="{{ asset('bundles/dattaAble/assets/plugins/select2/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/dattaAble/assets/js/pages/ac-notification.js') }}"></script>
{% endblock %}
