<div class="card-header">
    <h5>Listado de Distribuidores</h5>
	{% if permits["wp"] %}
		<span  title="Agregar Distribuidor" data-toggle="tooltip">
			<a class="btn btn-icon btn-rounded theme-bg text-white" data-toggle="modal" data-target="#exampleModalLive"><span><i class="feather icon-plus"></i></span></a>
		</span>
	{% endif %}
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> Maximizar</span><span style="display:none"><i class="feather icon-minimize"></i> Restaurar</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> Ocultar</span><span style="display:none"><i class="feather icon-plus"></i> Expandir</span></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="card-block table-border-style">
	<div class="table-responsive">
		<table class="table table-hover dataTable">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Dirección</th>
					<th>Zona</th>
					<th>Estado</th>
					<th>Herramientas</th>
				</tr>
			</thead>
			<tbody>
				{% for distributor in list %}
					<tr>
						<td>{{ distributor.distributorId }}</td>
						<td>{{ distributor.name }}</td>
						<td>{{ distributor.address }}</td>
						<td>{{ distributor.zone }}</td>
						<td>
							{% if distributor.status == 'ACTIVO'%}
								<span class="label bg-c-green f-12 text-white" href="#!">{{ distributor.status }}</span>
							{% else %}
								<span class="label bg-c-red f-12 text-white" href="#!">{{ distributor.status }}</span>
							{% endif %}
						</td>
						<td>
						{% if permits["ep"] %}
							<a class="btn btn-icon btn-rounded theme-bg2 text-white" href="{{ path('backend_distributor_edit', {'distributorId': distributor.distributorId | md5}) }}"  title="Editar Distribuidor" data-toggle="tooltip">
								<i class="feather icon-edit-1"></i>
							</a>
						{% endif %}
						
						{% if permits["dp"] %}
                            {% if distributor.status == 'ACTIVO'%}
                                <span  title="Inactivar Distribuidor" data-toggle="tooltip">
                                    <a id="btn-delete"
                                        class="btn btn-icon btn-rounded btn-danger text-white sweet-multiple"
                                        data-id="{{ distributor.distributorId }}" 
										data-name = "{{ distributor.name }}"
                                        data-href="{{ path(
                                            'backend_distributor_delete',
                                            {'distributorId': distributor.distributorId | md5}
                                        ) }}">
                                        <i class="feather icon-trash-2"></i>
                                    </a>
                                </span>
                            {% endif %}
						{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% block extra_scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$('.dataTable').DataTable({
			"language": idioma_español,
			"stateSave": true
		});	
		
		$('table').on('click', '#btn-delete',function(){
			$('.sweet-multiple').on('click', function() {
				swal({
					title: '¿Seguro que desea inactivar al distribuidor "'+ $(this).attr('data-name') +'" ?',
					icon: "warning",
					buttons: ["Cancelar",true],
					dangerMode: true,
				}).then((willDelete) => {
					if (willDelete) {
						swal({
							text: 'El distribuidor "'+ $(this).attr('data-name') +'" se está inactivando',
							icon: "info",
							buttons: false,
							content: {
								element: "span",
								attributes: {
									className: "spinner-border spinner-border-sm"
								}
							}
						});
						window.location =  $(this).attr('data-href'); 
					}
				});
			});
		});
	});

</script>
{% endblock %}
