<section class="content-header">
    <h1>{{ title }}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('backend_main') }}">
                <i class="fa fa-dashboard"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ path(titleRoute) }}">
                {{ title }}
            </a>
        </li>
        <li class="active">Subir empleados</li>
    </ol>
</section>
<section class="content">
    {{ include('@App/Backend/flash_message.html.twig') }}

    {% if example is defined %}
        {{ include(example) }}
    {% endif %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                {{
                    include(
                        fileFormPath,
                        {
                            'form': form,
                            'id': id
                        }
                    )
                }}
            </div>
        </div>
    </div>
</section>
<script
    type="text/javascript"
    src="{{ asset('js/block_submit_button.js') }}">
</script>
