{% extends '@App/Backend/base_login.html.twig' %}

{% block body %}
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="auth-bg">
			<span class="r" style="background: linear-gradient(-135deg,#46b5ff 0%,#0067AC 100%) !important"></span>
			<span class="r s" style="background: linear-gradient(-135deg,#fca89f 0%,#DD5040 100%) !important"></span>
			<span class="r s" style="background: linear-gradient(-135deg,#46b5ff 0%,#0067AC 100%) !important"></span>
			<span class="r" style="background: linear-gradient(-135deg,#fca89f 0%,#DD5040 100%) !important"></span>
		</div>

		
		<div class="card" style="opacity:0.9; border-radius:50px">
			<div class="card-body text-center">
				<div class="">
					<img class="logo-login" src="{{ asset('images/lala_logo.png') }}">
				</div>

				<h3 class="mb-4">Inicie sesi&oacute;n</h3>
				{% for flashMessage in app.session.flashbag.get('login_error') %}
					<div class="alert alert-danger" role="alert">{{ flashMessage | raw }}</div>
		        {% endfor %}
		        {% if response %}
					{% if response.status == 'error' %}
						<div>{{ response.msg }}</div>
					{% endif %}
		        {% endif %}

				<form action="{{ path('backend_login_user') }}" method="post" id="loginUserForm">
					<div class="input-group mb-3">
						<input type="email" class="form-control required email" placeholder="Email" name="_username">
					</div>
					<div class="input-group mb-4">
						<input type="password" class="form-control required" placeholder="Password" name="_password">
					</div>
					<button type="submit" class="btn btn-primary shadow-2 mb-4">Ingresar</button>
					<p class="mb-2 text-muted">
						<a href="{{ path('backend_recover_password') }}">¿Olvidaste tú contraseña?</a>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block extra_scripts %}


<script>
  $(function () {

    $('#loginUserForm').validate({
    	errorPlacement: function(error, element) {}
    });
    
  });

	function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>
{% endblock %}