<header id="header" class="alt">
	<!-- Logo -->
	<div class="logo">{#<a
		href="index.html"><strong>Relativity</strong> by Pixelarity</a>#}</div>

	<!-- Nav -->
	
	<nav id="nav">
		<ul>
			{% if homepage is defined %}
    			<li class="current"><a href="#banner" class="more scrolly mainMenu">Inicio</a></li>
    			<li><a href="#aboutSection" class="more scrolly mainMenu">&iquest; Qu&eacute; es el Programa ?</a></li>
    			<li><a href="#contactSection" class="more scrolly mainMenu">Cont&aacute;ctanos</a></li>
			{% else %}
				<li><a href="{{ path('frontend_index') }}">Inicio</a></li>
    			<li><a href="{{ path('frontend_index') }}#aboutSection" class="more scrolly mainMenu">&iquest; Qu&eacute; es el Programa ?</a></li>
    			<li><a href="{{ path('frontend_index') }}#contactSection" class="more scrolly mainMenu">Cont&aacute;ctanos</a></li>
	        {% endif %}					
			<li id="registerItem"><a href="{{ path('frontend_register') }}">Registro</a></li>
			<li id="loginItem"><a href="{{ path('frontend_login') }}">Login</a></li>
		</ul>
	</nav>	

</header>
