<div class="container" id="frontendNavigation">
	<div class="row">
		<div class="col-sm">
			<a href="{{ path('frontend_index') }}"> Homepage </a>
		</div>
		<div class="col-sm">
			<a href="{{ path('frontend_about') }}">&iquest; Qu&eacute; es el Programa ?</a>
		</div>
		<div class="col-sm">
			<a href="{{ path('frontend_login') }}"> Login </a>
		</div>
		<div class="col-sm">
			<a href="{{ path('frontend_register') }}"> Registro </a>
		</div>
		<div class="col-sm">
			<a href="{{ path('frontend_contact') }}"> Cont&aacute;ctanos </a>
		</div>
	</div>
</div>
