{% extends '@App/Frontend/base.html.twig' %}

{% block title %}
- Registro
{% endblock %}



{% block body %}


<section class="main alt">
	<header>
		<h2>Formulario de Registro</h2>
		<h4>Registro de Gerentes</h4>
		<p>Llena los datos del formulario, cuando tu registro sea
			aprobado recibiras una notificaci&oacute;n por medio de un mensaje
			de texto.</p>
	</header>
	<div class="inner narrow">
		<form action="" method="post" id="registerForm"
			enctype="multipart/form-data" class="alt">

			{{ include('@App/Backend/flash_message.html.twig') }}

			<div class="row gtr-uniform">

				<div class="col-6 col-12-xsmall">
					<input type="text" name="data[name]" placeholder="Nombres"
						class="required form-control" />
				</div>
				<div class="col-6 col-12-xsmall">
					<input type="text" name="data[last_name]" placeholder="Apellidos"
						class="required form-control" />
				</div>
				<div class="col-6 col-12-xsmall">
					<input type="text" name="data[citizen_id]"
						placeholder="N&uacute;mero de DPI"
						class="required form-control digits" minlength="8"
						, maxlength="13" />
				</div>
				<div class="col-6 col-12-xsmall">
					{{form_widget(form.phoneSecondary, {'attr': {'class': 'required form-control' }}) }}
				</div>
				<div class="col-6 col-12-xsmall">
					<input type="text" name="data[phone_main]"
						placeholder="N&uacute;mero de tel&eacute;fono"
						class="required form-control digits" minlength="8" maxlength="8" />
				</div>
				<div class="col-6 col-12-xsmall">
					<input type="text" name="data[name_comercial]" placeholder="Nombre Comercial Establecimiento"
						class="required form-control" />
				</div>
				<div class="col-6 col-12-xsmall">
					<input type="text" name="data[nit_comercial]" placeholder="Nit del Establecimiento"
						class="required form-control" />
				</div>
				<div class="col-6 col-12-xsmall">
					<select name="data[job_position]" class="required form-control">
						<option value="">- Seleccione su Puesto de Trabajo -</option>
						{% for item in jobPosition %}
						<option value="{{ item.id }}">{{ item.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-6 col-12-xsmall">
					<select name="data[pointOfSale_type]" class="required form-control">
						<option value="">- Seleccione el tipo de Establecimiento -</option>
						{% for item in pointOfSaleType %}
						<option value="{{ item.id }}">{{ item.name }}</option>
						{% endfor %}
					</select>
				</div>
				<!--<div class="col-12 col-12-xsmall">
					<p>Selecciona una fotograf&iacute;a de perfil</p><input
						type="file" name="profile_image"
						placeholder="Selecciona tu foto de perfil" class="required" />
				</div>-->
				<div class="col-12 col-12-xsmall" align="center">
					<button type="submit" class="btn btn-lg btn-primary"
						id="sendButton">Enviar Datos</button>
				</div>
				{{ form_widget(form._token) }}
			</div>
		</form>
	</div>
</section>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript"
	src="{{ asset('bundles/air-datepicker-master/dist/js/datepicker.js') }}"></script>
<script
	src="{{ asset('bundles/jquery-validate/jquery.validate.min.js') }}"></script>
<script
	src="{{ asset('bundles/jquery-validate/localization/messages_es.js') }}"></script>


<script type="text/javascript">
	$(function() {
	
		$('#registerForm').validate({
			submitHandler : function(form) {
				$("#sendButton").attr("disabled", "disabled");
				$("#enviando").show();
				form.submit();
			}
		});

		$('#header').removeClass("alt");
		$('#registerItem').addClass("current");

	});
</script>
{% endblock %}