{% extends '@App/Frontend/base.html.twig' %}

{% block title %}
- Registro
{% endblock %}



{% block body %}


<section class="main alt">
	<header>
		<h2>Formulario de Registro</h2>
		<p>Llena los datos del formulario, cuando tu registro sea
			aprobado recibiras una notificaci&oacute;n por medio de un mensaje
			de texto.</p>
	</header>
	<div class="inner narrow">
			{% if register == true %}
				<div class="row gtr-uniform">
					<div class="col-12 col-12-xsmall">
						{% if status == 'success' %}
							<div class="alert alert-success" role="alert">
								{{ msg }}
							</div>
						{% elseif status == 'error' %}
							<div class="alert alert-danger" role="alert">
								{{ msg }}
							</div>
						{% endif %}
					</div>
				</div>
				<br>
			{% endif %}
		<form action="" method="post" id="registerForm"
			enctype="multipart/form-data" class="alt">

			<div class="row gtr-uniform">

				<div class="col-6 col-12-xsmall">
					<input type="text" name="data[first_name]" placeholder="Nombres"
						class="required form-control" />
				</div>
				<div class="col-6 col-12-xsmall">
					<input type="text" name="data[last_name]" placeholder="Apellidos"
						class="required form-control" />
				</div>
				<div class="col-6 col-12-xsmall">
					<input type="text" name="data[citizen_id]"
						placeholder="N&uacute;mero de DPI"
						class="required form-control digits" minlength="8"
						, maxlength="13" />
				</div>
				<div class="col-6 col-12-xsmall">
					<input type="number" name="data[phone]"
						placeholder="N&uacute;mero de tel&eacute;fono"
						class="required form-control digits" minlength="8" maxlength="8" />
				</div>
				<div class="col-6 col-12-xsmall">
					<input type="email" name="data[email]" placeholder="Correo"
						class="required form-control" />
				</div>
				<div class="col-6 col-12-xsmall">
					<select name="data[country]" class="required form-control">
						<option value="">- Seleccione su País -</option>
						{% for item in countries %}
						<option value="{{ item.countryId }}">{{ item.countryName }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-12 col-12-xsmall" align="center">
					<button type="submit" class="btn btn-lg btn-primary"
						id="sendButton">Enviar Datos</button>
				</div>
			</div>
		</form>
	</div>
</section>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript"
	src="{{ asset('bundles/air-datepicker-master/dist/js/datepicker.js') }}"></script>
<script
	src="{{ asset('bundles/jquery-validate/jquery.validate.min.js') }}"></script>
<script
	src="{{ asset('bundles/jquery-validate/localization/messages_es.js') }}"></script>


<script type="text/javascript">
	$(function() {
	
		$('#registerForm').validate({
			submitHandler : function(form) {
				$("#sendButton").attr("disabled", "disabled");
				$("#enviando").show();
				form.submit();
			}
		});

		$('#header').removeClass("alt");
		$('#registerItem').addClass("current");

	});
</script>
{% endblock %}