{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% if 'edit' in currentPath %}
	{% set firstName = user[0].firstName %}
	{% set lastName = user[0].lastName %}
	{% set email = user[0].email %}
	{% set status = user[0].status %}
	{% set distributorId = user[0].distributorId %}
	{% set userRoleId = user[0].userRoleId %}
{% endif %}
<form method="post" action="" id="userForm" class="validateForm" autocomplete="false">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="first_name">Nombres</label>
					<input type="text" id="first_name" name="user[first_name]" maxlength="64" class="required form-control" {% if 'edit' in currentPath %} value="{{ firstName }}" {% endif %}>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="last_name">Apellidos</label>
					<input type="text" id="last_name" name="user[last_name]" maxlength="64" class="required form-control" {% if 'edit' in currentPath %} value="{{ lastName }}" {% endif %}>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="email" name="user[email]" required="required" maxlength="64" class="required email form-control" {% if 'edit' in currentPath %} value="{{ email }}" {% endif %}>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="password">Contraseña</label>
					<input type="password" id="password" name="user[password]" class="form-control">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="status">Estado</label>
					<select id="status" name="user[status]" class="required form-control valid">
						<option value="ACTIVO"{% if 'edit' in currentPath %} {{ (status == "ACTIVO") ? 'selected' : '' }} {% endif %}>ACTIVO</option>
						<option value="INACTIVO"{% if 'edit' in currentPath %} {{ (status == "INACTIVO") ? 'selected' : '' }} {% endif %}>INACTIVO</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="user_role">Rol</label>
					<select id="user_role" name="user[user_role]" class="required form-control valid">
						{% for userRole in roles %}
							<option value="{{ userRole.id }}" {% if 'edit' in currentPath %} {{ (userRoleId == userRole.id) ? 'selected' : '' }} {% endif %}>{{ userRole.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group select-distributor">
					<label for="distributor">Asignar a tienda</label>
					<select id="distributor" name="user[distributor]" class="form-control">
						<option value="">Seleccionar Tienda</option>
						{% for distributor in distributors %}
							<option value="{{ distributor.distributorId }}" {% if 'edit' in currentPath %} {{ (distributorId == distributor.distributorId) ? 'selected' : '' }} {% endif %}>{{ distributor.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="col-md-6">
			</div>	
			<div class="col-md-6">
				{% if 'edit' in currentPath %}
					<button type="reset" onclick="window.location='{{ path('backend_user') }}'" class="btn btn-rounded btn-danger">Cancelar</button>
				{% else %}
					<button type="reset" data-dismiss="modal" class="btn btn-rounded btn-danger">Cancelar</button>
				{% endif %}
			</div>
			<div class="col-md-6">
				<button id="button-save" type="submit" class="btn btn-rounded btn-success float-right" style="margin-right: 0px;">Guardar Datos</button>
			</div>	
		</div>
</form>


{% block extra_scripts %}

	<script>

		$(document).ready(function(){
			var rol = $('#user_role').val();
			
			if (rol == 5) {
				$('.select-distributor').show();
			} else if (rol == 4) {
				$('.select-distributor').hide();
			} else {
				$('.select-distributor').hide();
			}

			$('#user_role').change(function(){
				var rol = $('#user_role').val();

				if (rol == 5) {
					$('.select-distributor').show();
					$('#distributor').addClass("required");
				} else if (rol == 4) {
					$('.select-distributor').hide();
					$('#distributor').removeClass("required");
				}
			});

			$('#userForm').validate({
				submitHandler: function(form) {
					var saveButton = document.getElementById("button-save");
					var validateForm = document.getElementById("userForm");
					saveButton.setAttribute("disabled", true);
					saveButton.innerHTML = "<span class='spinner-border spinner-border-sm' role='status'></span> Cargando...";
					var elements = validateForm.elements;
					for (var i = 0, len = elements.length; i < len; ++i) {
						elements[i].readOnly = true;
					}
					document.getElementById("userForm").submit(function() {
						$('#userForm').serializeArray();
					});
				}
			});

		});

	</script>

{% endblock %}