{% extends '@App/Backend/base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Aprobaci&oacute;n de Facturas</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#!"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{{ path('backend_invoice_whatsapp') }}">Aprobaci&oacute;n de Facturas</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="main-body">
        <div class="page-wrapper">
            <div class="row">
                <div class="col-sm-12">
                        
                    {{ include('@App/Backend/flash_message.html.twig') }}

                    <div class="card m-b-10">
                        <div class="card-header">
                            <h5>Procesar Factura</h5>
                        </div>
                        <div class="card-block">
                            {{ include('@App/Backend/InvoiceWhatsapp/form.html.twig', { 
                                'formInvoice':formInvoice,
                                'formStaff':formStaff,
                                'imgName':imgName,
                                'countryAct':countryAct,
                                'statusAct':statusAct,
                                'statusOpt':statusOpt,
                                'countryOpt':countryOpt,
                                'recurrent':recurrent
                            }) }}
                        </div>
                        <a href="javascript:void(0)" id="returnInvoiceWhatsApp" class="f-16"> <i class="fas fa-angle-left"></i> Regresar</a>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <div class="card User-Activity">
                        <div class="card-header">
                            <h5>Listado de facturas procesadas</h5>
                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-block pb-0">
                            <div class="table-responsive m-b-15">
                                <table class="table table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>#Correlativo</th>
                                            <th>Tel&eacute;fono</th>
                                            <th>Fecha de Ingreso</th>
                                            <th>Factura</th>                    
                                            <th>Estatus</th>
                                            <th>Recurrente</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in listProcesados %}
                                            <tr>
                                                <td><h6 class="m-0">{{ item.invoiceId }}</h6></td>
                                                <td><h6 class="m-0">{{ item.staff.phone }}</h6></td>
                                                <td><h6 class="m-0">{{ item.createdAt | date('d-m-Y h:i:s') }}</h6></td>
                                                {% if item.status.name == 'Aprobado' %}
                                                    <td><h6 class="m-0"><b>{{ item.invoiceNumber }}</b></h6></td>
                                                {% else %}
                                                    <td><h6 class="m-0">---</h6></td>
                                                {% endif %}
                                                <td>
                                                    {% if item.status.name == 'Aprobado' %}
                                                        <span class="badge badge-pill badge-primary st-new-b">{{ item.status.name }}</span>
                                                    {% else %}
                                                        <span class="badge badge-pill badge-danger st-new-b">{{ item.status.name }}</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if item.recurrent == 1 %}
                                                        <span class="badge badge-pill badge-info st-new-b">Sí</span>
                                                    {% else %}
                                                        <span class="badge badge-pill badge-secondary st-new-b">No</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#returnInvoiceWhatsApp").on('click',function(){
            window.location = '{{ path('backend_invoice_whatsapp') }}'
        });
    </script>


    <script>
        $(document).ready(function() {
            $('.dataTable').DataTable( {
                dom: 'Bfrtip', buttons: ['excelHtml5', 'csvHtml5', 'pdfHtml5'],
                "order": [[ 2, "desc" ]]
            });
        });     
    </script>
{% endblock %}