<form method="post" action="" id="iwsForm" autocomplete="false" class="validateForm"  onSubmit="return validateFields();">

	<div class="row  align-items-center">
		<div class="col-md-6 text-center">
			<img src="{{asset('uploads/imgs/')~imgName}}" alt="" style="max-width:100%;">
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col">
					<div class="row align-items-center justify-content-center">
						<div class="col">
							{% if recurrent == 1 %}
								<span class="badge badge-pill badge-info shadow-2 float-right p-b-" style="font-size: 16px; padding-bottom: 6px;"> <i class="fas fa-exchange-alt text-white"></i>&nbsp;&nbsp;Participante Recurrente</span>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formInvoice.invoiceNumber, "Número de Factura") }}
						{{form_widget(formInvoice.invoiceNumber, {'attr': {'class': 'required form-control' }}) }}
						<span style="color: red" id="invoice_exist_flag"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formInvoice.nit, "NIT") }}
						{{form_widget(formInvoice.nit, {'attr': {'class': 'required form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formStaff.phone, "Teléfono") }}
						{{form_widget(formStaff.phone, {'attr': {'class': 'required form-control' }}) }}
					</div>
				</div>


				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formInvoice.productQuantity, "Cantidad de Productos") }}
						{{form_widget(formInvoice.productQuantity, {'attr': {'class': 'required form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formInvoice.totalInvoice, "Suma Total en Productos Lala") }}
						{{form_widget(formInvoice.totalInvoice, {'attr': {'class': 'required form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6 d-none">
					<div class="form-group">
						<input type="text" name="appbundle_invoicewhatsapp[prizeType]" id="appbundle_invoicewhatsapp_prizeType" class="required form-control">
					</div>
				</div>
				<div class="col-md-6 d-none">
					<div class="form-group">
						<input type="text" name="appbundle_invoicewhatsapp[status]" id="appbundle_invoicewhatsapp_status">
					</div>
				</div>
				<div class="col-md-6 d-none">
					<div class="form-group">
						{{ form_label(formInvoice.rejectionMessage, "Mensaje de Rechazo de Factura") }}
						{{form_widget(formInvoice.rejectionMessage, {'attr': {'class': 'form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formStaff.name, "Nombre del Participante") }}
						{{form_widget(formStaff.name, {'attr': {'class': 'form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formStaff.citizenId, "DPI") }}
						{{form_widget(formStaff.citizenId, {'attr': {'class': 'form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formStaff.email, "Correo Electrónico") }}
						{{form_widget(formStaff.email, {'attr': {'class': 'form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>País</label>
						<select id="staff_country" name="staff[country]" class="form-control">
							{% for country in countryOpt %}
								{% if country.id == countryAct %}
									<option value="{{country.id}}" selected>{{country.name}}</option>
								{% else %}
									<option value="{{country.id}}">{{country.name}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label id="type_prize_selected">Tipo de Premio</label>
						<label style="color: red" id="type_prize_no_selected"></label><br>


						<div class="custom-controls-stacked">
							<label class="custom-control custom-radio">
								<input name="validation-radios-custom" type="radio" class="custom-control-input m-prize-t" value="big">
								<span class="custom-control-label">Premio Mayor</span>
							</label>
							<label class="custom-control custom-radio">
								<input name="validation-radios-custom" type="radio" class="custom-control-input m-prize-t" value="small">
								<span class="custom-control-label">Premio Menor</span>
							</label>
						</div>

{#}
						<div class="switch switch-primary d-inline m-r-10">
							<input type="checkbox" id="switch-p-1">
							<label for="switch-p-1" class="cr"></label>
						</div>
							<label id="beChecked">Es un premio pequeño</label>
#}
					</div>
				</div>
			</div>
			<hr>
			<div class="row p-t-15">
				<div class="col-6">
					<button id="button-rejected-whatsapp" type="button" class="btn btn-rounded btn-secondary fnumber">Rechazar</button>
				</div>
				<div class="col-6 text-right">
					<button id="button-approved-whatsapp" type="submit" class="btn btn-rounded btn-success fnumber">Aprobar</button>
				</div>
			</div>
		</div>
	</div>
	{{ form_widget(formInvoice._token) }}
</form>

<script type="text/javascript">


	function qtyCodesAssignedMessage(){

		var textarea = document.createElement('textarea');
		textarea.rows = 3;
		textarea.className = 'swal-content__textarea';
		textarea.value = "Gracias por preferirnos, has llegado al limite de códigos permitidos para esta promoción. Mas información en www.regresoaclasestottolala.com";
		textarea.onkeyup = function () {
			swal.setActionValue({
			  confirm: this.value
			});
		};
		swal({
		text: 'Este participante ya ha ganado dos premios! El mensaje a enviar es el siguiente:',
		content: textarea,
		icon: "warning",
		buttons: {
		  cancel: {
		    text: 'Cancelar',
		    visible: true
		  },
		  confirm: {
		    text: 'Enviar',
		    closeModal: true
		  }
		}
		}).then(function (value) {
			var  textArea = $('.swal-content__textarea').val();
			var length = textArea.length;
			if(length > 0){
				if (value !== null) {
					$("#appbundle_invoicewhatsapp_status").val(3);
					$("#appbundle_invoicewhatsapp_prizeType").val(0);
					$("#appbundle_invoicewhatsapp_rejectionMessage").val($('.swal-content__textarea').val());
				  	document.getElementById("iwsForm").submit();
				}
			} else {
				if (value !== null) {
					swal("Texto Vacío", "No ha introducido ningún texto. La factura aún no se procesa.", "warning");
				}
			}
		});
	}

	$(document).ready(function(){

		var qtyCodesAssigned = '{{ qtyCodesAssigned }}';
		console.log("qtyCodesAssigned: ", qtyCodesAssigned);

		if (qtyCodesAssigned >= 2) {
			qtyCodesAssignedMessage();
		}


		$('#appbundle_invoicewhatsapp_invoiceNumber').on('keyup',function(){
			var myInvoice = $(this).val();
			$.post('{{ path("backend_invoice_verify") }}' , { myInvoice: myInvoice })
			.done(function( data ) {
				if (data.invoice == 'exist') {
					$('#invoice_exist_flag').html('Factura ya procesada!');
					$("#button-approved-whatsapp").prop("disabled", true);
				}else{
					$('#invoice_exist_flag').html('');
					$("#button-approved-whatsapp").prop("disabled", false);
				}
			});
		});
		
		$(".fnumber").on('click',function(){
			var numero = $("#appbundle_invoicewhatsapp_totalInvoice").val();
			if (new Intl.NumberFormat('es-MX').format(numero) != 'NaN' && new Intl.NumberFormat('es-MX').format(numero) != 0) {
				$("#appbundle_invoicewhatsapp_totalInvoice").val(new Intl.NumberFormat('es-MX').format(numero));
			}
		});	
		
		$("#staff_email").removeAttr("required");
		$("#button-approved-whatsapp").on("click",function(){
			$("#appbundle_invoicewhatsapp_status").val(2);
		})
		$("#button-rejected-whatsapp").on("click",function(){
			$("#appbundle_invoicewhatsapp_status").val(3);

			var textarea = document.createElement('textarea');
			textarea.rows = 6;
			textarea.className = 'swal-content__textarea';
			textarea.value = "Lo sentimos, la imagen que enviaste es ilegible y/o no cuenta con las especificaciones para participar en la promoción, intenta nuevamente o visita www.regresoaclasestottoylala.com para conocer más de la promoción.";
			textarea.onkeyup = function () {
				swal.setActionValue({
				  confirm: this.value
				});
			};
			swal({
			text: 'Motivo de rechazo de la factura en proceso:',
			content: textarea,
			buttons: {
			  cancel: {
			    text: 'Cancelar',
			    visible: true
			  },
			  confirm: {
			    text: 'Enviar',
			    closeModal: true
			  }
			}
			}).then(function (value) {
				var  textArea = $('.swal-content__textarea').val();
				var length = textArea.length;
				if(length > 0){
					if (value !== null) {
						$("#appbundle_invoicewhatsapp_prizeType").val(0);
					  	$("#appbundle_invoicewhatsapp_rejectionMessage").val($('.swal-content__textarea').val());
					  	document.getElementById("iwsForm").submit();
					}
				} else {
					if (value !== null) {
						swal("Texto Vacío", "No ha introducido ningún texto. La factura aún no se procesa.", "warning");
					}
				}
			});
			
		})
		$(".m-prize-t").on('click',function(){
			$("#button-approved-whatsapp").prop("disabled", false);
			$("#type_prize_no_selected").html("");
	        $("#type_prize_selected").show();
			if ($(this).val() == 'big')
			{
				$("#appbundle_invoicewhatsapp_prizeType").val(1);
			}else{
				$("#appbundle_invoicewhatsapp_prizeType").val(0);
			}
		});

		$('#iwsForm').validate({
            submitHandler: function(form) {
					
	            swal({
	                    title: "Está a punto de premiar a un cliente",
	                    text: "Verifique la información ingresada, antes de continuar",
	                    icon: "warning",
	                    buttons: ["Revisar", "Procesar"],
	                    dangerMode: true,
	                })
                .then((willDelete) => {
                    if (willDelete) {
                        
						var saveButton = document.getElementById("button-approved-whatsapp");
						var rejectedButton = document.getElementById("button-rejected-whatsapp");
						var validateForm = document.getElementById("iwsForm");
						saveButton.setAttribute("disabled", true);
						rejectedButton.setAttribute("disabled", true);
						saveButton.innerHTML = "<span class='spinner-border spinner-border-sm' role='status'></span> Enviando...";
						var elements = validateForm.elements;
						for (var i = 0, len = elements.length; i < len; ++i) {
						    elements[i].readOnly = true;
						}
						document.getElementById("iwsForm").submit();
                    } 
                });
            }
        });

		//$("#staff_country").attr('readonly', 'readonly');
		$('#staff_country option:not(:selected)').attr('disabled',true);
        $("#button-approved-whatsapp").mouseover(function(){
        	if($(".m-prize-t").is(':checked')) {  

	        } else {
	        	console.log("Seleccione un tipo de premio");
	        	$("#button-approved-whatsapp").attr('disabled', 'disabled');
	        	$("#type_prize_no_selected").html("Asigne tipo de premio.");
	        	$("#type_prize_selected").hide();
	        } 

	 		if (qtyCodesAssigned >= 2) {
				qtyCodesAssignedMessage();
			}
        });

	});
</script>