{% extends '@App/Backend/base.html.twig' %}

{% block body %}


	<div class="page-header">
	    <div class="page-block">
	        <div class="row align-items-center">
	            <div class="col-md-12">
	                <div class="page-header-title">
	                    <h5 class="m-b-10">Aprobaci&oacute;n de Facturas</h5>
	                </div>
	                <ul class="breadcrumb">
	                    <li class="breadcrumb-item"><a href="#!"><i class="feather icon-home"></i></a></li>
	                    <li class="breadcrumb-item"><a href="#!">Aprobación de Facturas</a></li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>
		
	<div class="row">
		<div class="col-sm-6">
			<img src="{{asset('uploads/imgs/')~imgName}}" alt="" style="max-width:450px;">
		</div>
		<div class="col-sm-6">
				<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(formInvoice.invoiceNumber, "Número de Factura") }}
					{{form_widget(formInvoice.invoiceNumber, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(formInvoice.nit, "NIT") }}
					{{form_widget(formInvoice.nit, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(formInvoice.status, "Status") }}
					{{form_widget(formInvoice.status, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(formStaff.name, "Nombre del Participante") }}
					{{form_widget(formStaff.name, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(formStaff.citizenId, "GPID") }}
					{{form_widget(formStaff.citizenId, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(formStaff.phone, "Teléfono") }}
					{{form_widget(formStaff.phone, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(formStaff.email, "Correo Electrónico") }}
					{{form_widget(formStaff.email, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			
		</div>
		</div>
	</div>





{% endblock %}