<form method="post" action="" id="iwsForm" autocomplete="false" class="validateForm"  onSubmit="return validateFields();">

	<div class="row  align-items-center">
		<div class="col-md-6 text-center">
			<img src="{{asset('uploads/imgs/')~imgName}}" alt="" style="max-width:100%;">
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col">
					<div class="row align-items-center justify-content-center">
						<div class="col">
							{% if recurrent == 1 %}
								<span class="badge badge-pill badge-info shadow-2 float-right p-b-" style="font-size: 16px; padding-bottom: 6px;"> <i class="fas fa-exchange-alt text-white"></i>&nbsp;&nbsp;Participante Recurrente</span>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formInvoice.invoiceNumber, "Número de Factura") }}
						{{form_widget(formInvoice.invoiceNumber, {'attr': {'class': 'required form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formInvoice.nit, "NIT") }}
						{{form_widget(formInvoice.nit, {'attr': {'class': 'required form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formStaff.phone, "Teléfono") }}
						{{form_widget(formStaff.phone, {'attr': {'class': 'required form-control' }}) }}
					</div>
				</div>


				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formInvoice.productQuantity, "Cantidad de Productos") }}
						{{form_widget(formInvoice.productQuantity, {'attr': {'class': 'required form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formInvoice.totalInvoice, "Monto Total en Factura") }}
						{{form_widget(formInvoice.totalInvoice, {'attr': {'class': 'required form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6 d-none">
					<div class="form-group">
						<input type="text" name="appbundle_invoicewhatsapp[prizeType]" id="appbundle_invoicewhatsapp_prizeType" value=0>
					</div>
				</div>
				<div class="col-md-6 d-none">
					<div class="form-group">
						<input type="text" name="appbundle_invoicewhatsapp[status]" id="appbundle_invoicewhatsapp_status">
					</div>
				</div>
				<div class="col-md-6 d-none">
					<div class="form-group">
						{{ form_label(formInvoice.rejectionMessage, "Mensaje de Rechazo de Factura") }}
						{{form_widget(formInvoice.rejectionMessage, {'attr': {'class': 'form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formStaff.name, "Nombre del Participante") }}
						{{form_widget(formStaff.name, {'attr': {'class': 'form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formStaff.citizenId, "DPI") }}
						{{form_widget(formStaff.citizenId, {'attr': {'class': 'form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(formStaff.email, "Correo Electrónico") }}
						{{form_widget(formStaff.email, {'attr': {'class': 'form-control' }}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>País</label>
						<select id="staff_country" name="staff[country]" class="form-control">
							{% for country in countryOpt %}
								{% if country.id == countryAct %}
									<option value="{{country.id}}" selected>{{country.name}}</option>
								{% else %}
									<option value="{{country.id}}">{{country.name}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Tipo de Premio</label><br>
						<div class="switch switch-primary d-inline m-r-10">
							<input type="checkbox" id="switch-p-1">
							<label for="switch-p-1" class="cr"></label>
						</div>
							<label id="beChecked">Es un premio pequeño</label>
					</div>
				</div>
			</div>
			<hr>
			<div class="row p-t-15">
				<div class="col-6">
					<button id="button-rejected-whatsapp" type="button" class="btn btn-rounded btn-secondary">Rechazar</button>
				</div>
				<div class="col-6 text-right">
					<button id="button-approved-whatsapp" type="submit" class="btn btn-rounded btn-success">Aprobar</button>
				</div>
			</div>
		</div>
	</div>
	{{ form_widget(formInvoice._token) }}
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#staff_email").removeAttr("required");
		$("#button-approved-whatsapp").on("click",function(){
			$("#appbundle_invoicewhatsapp_status").val(2);
		})
		$("#button-rejected-whatsapp").on("click",function(){
			$("#appbundle_invoicewhatsapp_status").val(3);

			var textarea = document.createElement('textarea');
			textarea.rows = 6;
			textarea.className = 'swal-content__textarea';

			textarea.onkeyup = function () {
			swal.setActionValue({
			  confirm: this.value
			});
			};

			swal({
			text: 'Motivo de rechazo de la factura en proceso:',
			content: textarea,
			buttons: {
			  cancel: {
			    text: 'Cancelar',
			    visible: true
			  },
			  confirm: {
			    text: 'Enviar',
			    closeModal: true
			  }
			}
			}).then(function (value) {
			if (value && value !== true && value !== '') {
			  var data = { feedback: value };
			  $("#appbundle_invoicewhatsapp_rejectionMessage").val(data.feedback);
			  document.getElementById("iwsForm").submit();
			}
			if (value === true || value === '') {
			  swal.close();
			}
			});

		})
		$("#switch-p-1").on('click',function(){
			if ($('#switch-p-1').is(":checked"))
			{
				console.log("Está checked");
				$("#beChecked").html("Es un premio grande");
				$("#appbundle_invoicewhatsapp_prizeType").val(1);
			}else{
				$("#beChecked").html("Es un premio pequeño");
				$("#appbundle_invoicewhatsapp_prizeType").val(0);
				console.log("No está checked");
			}
		})

/*
		$('#campaignForm').validate({
            submitHandler: function(form) {
                var saveButton = document.getElementById("button-save");
                var validateForm = document.getElementById("campaignForm");
                saveButton.setAttribute("disabled", true);
                saveButton.innerHTML = "<span class='spinner-border spinner-border-sm' role='status'></span> Cargando...";
                var elements = validateForm.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                document.getElementById("campaignForm").submit();
            }
        });
*/


	});
</script>






<!-- script>
	$(document).ready(function() {

		$('#campaign_startFrom').bootstrapMaterialDatePicker({
			weekStart:0,
		    format: 'YYYY-MM-DD HH:mm:00'  
		}).on('change',function(e,date){
			$('#campaign_endAt').bootstrapMaterialDatePicker('setMinDate',date);
		});
		
		$('#campaign_endAt').bootstrapMaterialDatePicker({
			weekStart:0,
		    format: 'YYYY-MM-DD HH:mm:00'
		});

		
		$('#campaignForm').validate({
            submitHandler: function(form) {
                var saveButton = document.getElementById("button-save");
                var validateForm = document.getElementById("campaignForm");
                saveButton.setAttribute("disabled", true);
                saveButton.innerHTML = "<span class='spinner-border spinner-border-sm' role='status'></span> Cargando...";
                var elements = validateForm.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                document.getElementById("campaignForm").submit();
            }
        });

	});
</script -->