<div class="card-block table-border-style">
	<div class="table-responsive">
		<table class="table table-hover dataTable">
			<thead>
				<tr>
					<th>ID</th>
					<th>Teléfono</th>
					<th>Factura</th>
					<th>Ingreso</th>
					<th>Procesado</th>
					<th>Estado</th>
					<th>Herramientas</th>
				</tr>
			</thead>
			<tbody>
				{% for invoice in list %}
					<tr>
						<td>{{ invoice.invoicePendingId }}</td>
						<td>{{ invoice.staffPhone }}</td>
						<td>{{ invoice.invoiceNumber }}</td>
						<td>{{ invoice.createdAt }}</td>
						<td>{{ invoice.updatedAt }}</td>
						<td>
							{% if invoice.invoiceStatus == 'ACEPTADO'%}
								<span class="label bg-c-green f-12 text-white" href="#!">{{ invoice.invoiceStatus }}</span>
							{% elseif invoice.invoiceStatus == 'RECHAZADO' %}
								<span class="label bg-c-red f-12 text-white" href="#!">{{ invoice.invoiceStatus }}</span>
							{% elseif invoice.invoiceStatus == 'PENDIENTE' %}
								<span class="label bg-c-yellow f-12 text-white" href="#!">{{ invoice.invoiceStatus }}</span>
							{% endif %}
						</td>
						<td>
						
							{% if permits.ep %}
								{% if invoice.invoiceStatus == 'PENDIENTE' %}

									<a class="btn btn-icon btn-rounded theme-bg2 text-white" href="{{ path('backend_invoice_edit', {'id': invoice.invoicePendingId}) }}"  title="Editar Factura" data-toggle="tooltip">
										<i class="feather icon-edit-1"></i>
									</a>

								{% endif %}
							{% endif %}
						
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% block extra_scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$('.dataTable').DataTable({
			"language": idioma_español,
			"stateSave": true
		});	
	});
</script>
{% endblock %}
