{% extends '@App/Backend/base.html.twig' %}

{% block body %}
	<section class="content-header">
		<h1>Promoci&oacute;n</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('backend_main') }}">
					<i class="fa fa-dashboard"></i>
					Home
				</a>
			</li>
			<li>
				<a href="{{ path('backend_promotion') }}">
					Promociones
				</a>
			</li>
			<li class="active">Editar</li>
		</ol>
	</section>
	<section class="content">
		{{ include('@App/Backend/flash_message.html.twig') }}

		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Editar usuario</h3>
					</div>
					{{ include(
						'@App/Backend/Promotions/form.html.twig', {
						'form': form,
						'subcategories': subcategories
					}) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript"
		src="{{ asset('bundles/adminLTE/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
	<script src="{{ asset('bundles/adminLTE/plugins/timepicker/bootstrap-timepicker.min.js')}}"></script>
	<script src="{{ asset('bundles/bootstrap-select/js/bootstrap-select.js') }}"></script>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet"
		href="{{ asset('bundles/adminLTE/plugins/datepicker/datepicker3.css') }}">
	<link rel="stylesheet"
        href="{{ asset('bundles/bootstrap-select/css/boostrap-select.css') }}">
{% endblock %}