{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<form method="post" action="" id="promotionForm" class="validateForm"
	autocomplete="false" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.promoCode, "Código de Promo") }}
					{{form_widget(form.promoCode, {'attr': {'class': 'required form-control'}}) }}
				</div>
			</div>	
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.name, "Nombre") }}
					{{form_widget(form.name, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.description, "Description") }}
					{{form_widget(form.description, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.status, "Estado") }}
					{{form_widget(form.status, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-12">
				{#<div class="form-group">
					{{ form_label(form.imageFile, "Imagen") }}
					{{ form_widget(form.imageFile, {'attr': {'class': 'required form-control' }}) }}
						{% if (form.vars.value.imagePath) %}
							<img src="{{ asset('images/promos/'~form.vars.value.imagePath) }}" alt="" width="320" />
						{% endif %}
				</div>#}

				<div class="avatar-wrapper">
					<img class="profile-pic" id='profile-pic' src="" />
					<div class="upload-button">
						<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
					</div>
					<!--input class="file-upload" type="file" accept="image/*"/-->
							
					{% if form.vars.value.imagePath | length > 0 %}
						<input type="file" id="promotion_imageFile" name="promotion[imageFile]" class="file-upload required" src="{{ asset('images/frontend/bg_maderas.png') }}" style='opacity:0'>							
						<script>
							var img = document.getElementById("profile-pic");									
							{% if 'http' in form.vars.value.imagePath  %}
								img.setAttribute('src', "{{form.vars.value.imagePath}}");
							{% else %}
								img.setAttribute('src', "{{ asset('uploads/promotions/'~form.vars.value.imagePath) }}");
							{% endif %}																		
						</script>						
					{% else %}
						<input type="file" id="promotion_imageFile" name="promotion[imageFile]" class="file-upload required" src="{{ asset('images/frontend/bg_maderas.png') }}" style='opacity:0'>							
						<script>
							var img = document.getElementById("profile-pic");
							{% if 'http' in form.vars.value.imagePath  %}
								img.setAttribute('src', "{{ asset('images/frontend/bg_maderas.png') }}");
							{% else %}
								img.setAttribute('src', "{{ asset('images/frontend/bg_maderas.png') }}");
							{% endif %}									        		
						</script>								
					{% endif %}
				</div>

			</div>
			<div class="col-md-6 col-6">
				{% if 'edit' in currentPath %}
					<button type="reset" onclick="window.location='{{ path('backend_promotion', {'campaignId': app.request.get('campaignId')}) }}'" class="btn btn-rounded btn-danger">Cancelar</button>
				{% else %}
					<button type="reset" data-dismiss="modal" class="btn btn-rounded btn-danger">Cancelar</button>
				{% endif %}
			</div>
			<div class="col-md-6 col-6">
				<button id="button-save" type="submit" class="btn btn-rounded btn-success float-right" >Guardar Datos</button>
			</div>	
			<!-- /.col -->
		</div>
		<!-- /.row -->
	{{ form_widget(form._token) }}
</form>
<script>
	$(document).ready(function() {
		var readURL = function(input) {
	    	console.log(input);
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();
	
	            reader.onload = function (e) {
	                $('.profile-pic').attr('src', e.target.result);
	            }
	    
	            reader.readAsDataURL(input.files[0]);
	            $('#avatar_notice').show();
	        }
	    }
	   
	    $(".file-upload").on('change', function(){
	        readURL(this);
	    });
	    
	    $(".upload-button").on('click', function() {
	       $(".file-upload").click();
	    });

		$('#promotionForm').validate({
            submitHandler: function(form) {
                var saveButton = document.getElementById("button-save");
                var validateForm = document.getElementById("promotionForm");
                saveButton.setAttribute("disabled", true);
                saveButton.innerHTML = "<span class='spinner-border spinner-border-sm' role='status'></span> Cargando...";
                var elements = validateForm.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                document.getElementById("promotionForm").submit();
            }
        });
	});
</script>