{% extends '@App/Backend/base.html.twig' %}

{% block body %}

	{{ render(controller("AppBundle:Frontend/Staff:headerPoints")) }}

	<div class="row">
		<div class="col-12">
			<div class="page-header">
			    <div class="page-block">
			        <div class="row align-items-center">
			            <div class="col-md-12">
			                <div class="page-header-title">
			                    <h5 class="m-b-10">Historial de Puntos Cajeados</h5>
			                </div>
			                <ul class="breadcrumb">
			                    <li class="breadcrumb-item"><a href="#!"><i class="feather icon-home"></i></a></li>
			                    <li class="breadcrumb-item"><a href="#!">Historial de Puntos Cajeados</a></li>
			                </ul>
			            </div>
			        </div>
			    </div>
			</div>			
		</div>		
	</div>
	<div class="main-body">
	    <div class="page-wrapper">
	        <div class="row">
	            <div class="col-sm-12">
	            	{{ include('@App/Backend/flash_message.html.twig') }}
	            	
					<div class="card Application-list">
						{% if permits.rp %}
							<div class="card-header">
								<h5>Historial de Puntos Cajeados</h5>
								
								<div class="card-header-right">
									<div class="btn-group card-option">
										<button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="feather icon-more-horizontal"></i>
										</button>
										<ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
											<li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> Maximizar</span><span style="display:none"><i class="feather icon-minimize"></i> Restaurar</span></a></li>
											<li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> Ocultar</span><span style="display:none"><i class="feather icon-plus"></i> Expandir</span></a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="card-block table-border-style">
								<div class="table-responsive">
									<table class="table table-hover dataTable">
										<thead>
											<tr>
												<th>Fecha del Canje</th>
												<th>Premio Canjeado</th>
												<th>Q. Canjeados</th>
											</tr>
										</thead>
										<tbody>
											{% for item in list %}
												<tr>
													<td data-sort="{{ item.prizeExchangeDate|date("Y/m/d") }}">{{ item.prizeExchangeDate|date('d-m-Y h:i:s') }}</td>
													<td>{{ item.prize }}</td>
													<td>{{ item.prizeRedeemPoints }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div> 
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$('.dataTable').DataTable({
			"language": idioma_español,
			"stateSave": true
		});	
	});
</script>
{% endblock %}