<div class="row" id="headerPoints">

	<div class="col-md-6 col-xl-4 col-12">
		<div class="card bg-primary bitcoin-wallet">
			<div class="card-block">
			<h5 class="text-white mb-2">Q. Acumulados</h5>
			<h2 class="text-white mb-2 f-w-300">{{ pointDetail.acumulados }}</h2>
			<i class="fas fa-plus f-70 text-white"></i>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xl-4 col-12">
		<div class="card bg-success bitcoin-wallet">
			<div class="card-block">
			<h5 class="text-white mb-2">Q. Canjeados</h5>
			<h2 class="text-white mb-2 f-w-300">{{ pointDetail.canjeados }}</h2>
			<i class="fas fa-minus f-70 text-white"></i>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-xl-4 col-12">
		<div class="card bg-warning bitcoin-wallet">
			<div class="card-block">
			<h5 class="text-white mb-2">Q. Disponibles</h5>
			<h2 class="text-white mb-2 f-w-300">{{ pointDetail.disponibles }}</h2>
			<i class="fas fa-equals f-70 text-white"></i>
			</div>
		</div>
	</div>

</div>

	{#<!-- div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-teal"><i class="fa fa-plus"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Puntos Promocionales</span> <span
					class="info-box-number">{{ pointDetail.promocionales }}</span>
			</div>
		
		</div>
		
	</div-->#}

				{#
				<!--p class="promo-detail">
					<span class="promo-points-label">
						Q. promocionales disponibles:
					</span>
					<span class="promo-points">
						{{ pointDetail.promocionales - pointDetail.promocionales_canjeados }}
					</span>
				</p-->#}

