  <div class="card-columns">
      {% for item in list %}
        <div class="card">
          <img class="card-img-top" src="{{ item.prizeImagePath }}" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">{{ item.prizeName }}</h6>
            <p class="card-text">
              <b>Q. {{ item.prizeAmount }}</b>
              {% if item.prizeQuantity != 'none' %}
                <br><b class="text-c-red">{{ item.prizeQuantity }} disponibles</b>
              {% endif %}
            </p>
            <a href="{{ path('staff_prize_details',{'id': item.prizeId} ) }}" class="btn btn-success">Seleccionar</a>
          </div>
        </div>
      {% endfor %}
  </div>
