{% extends '@App/Backend/base.html.twig' %}
{#{% block extra_css %}
    <link rel="stylesheet"
          href="{{ asset('css/backend/loading_animation.css') }}">
{% endblock %}#}

{% block title %}
    LoyaltyV2 | Backend | Premios
{% endblock %}


{% block body %}

    {#<section class="content">
        {{ include('@App/Backend/loading_css.html.twig') }}

        {{ render(controller("AppBundle:Frontend/Staff:headerPoints")) }}

        {% if staff is defined %}

                <h3>Detalle de Premio
                    <small> >> {{ staff.name }}</small>
                </h3>

        {% endif %}

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Confirmar canje</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">


                        <div class='row'>
                            <div class="col-md-12 col-sm-12 col-xs-12">


                                <div class="col-md-2 col-sm-2">
                                </div>
                                <div class="col-md-8 col-sm-8" style="text-align:left">
                                    <!-- Widget: user widget style 1 -->
                                    <div class="">


                                        <div class="col-md-3 col-sm-12" style="height:121px;padding-top:20px;">
                                            <img alt="Avatar" src="{{ asset('images/') }}{{ staffs.imagePath }}"
                                                 style="height:inherit;border-radius:5px;box-shadow:2px 2px 2px 2px #343"/>
                                        </div>
                                        <div class="col-md-1 col-sm-0">
                                        </div>
                                        <div class="widget-user-header  col-md-8 col-sm-12">
                                            <h3 class="widget-user-username">{{ staffs.name }}</h3>
                                            <h5 class="widget-user-desc">Q. {{ staffs.amount }}</h5>


                                            <a data-toggle="modal"
                                               href="{{ path('staff_get_prize',{'id': staffs.id,'channel':'WEB'}) }}"
                                               data-target="#myModal">
                                                <button class="btn btn-primary">Canjear</button>
                                            </a>


                                            {% if staffs.typeExchange == 'RECARGA' %}
                                                <div id="telcos-icons">
                                                    <img src="{{ asset('images/frontend/claro.png') }}" height="30"/>
                                                    <img src="{{ asset('images/frontend/tigo.gif') }}" height="30"/>
                                                    <img src="{{ asset('images/frontend/movistar.jpg') }}" height="30"/>
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div>
                                            <div class="row">
                                                <div class="col-sm-12" style="padding-top: 55px">
                                                    <div class="description-block">
                                                        <span class="description-text">{{ staffs.instructions }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-1 col-sm-1"></div>
                                <div class="col-md-10 col-sm-10">

                                    <h3>Instrucciones para reclamar tu premio:</h3>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-1 col-sm-1"></div>
                                <div class="col-md-10 col-sm-10">
                                    {% set stepLength = prizeSteps|length %}
                                    {% if stepLength > 0 %}
                                        {% set colPercent = 12/stepLength %}
                                    {% endif %}
                                    {% set counter = 0 %}
                                    {% for test in prizeSteps %}
                                        {% set counter = counter + 1 %}
                                        <div class="col-md-{{ colPercent }} col-sm-{{ colPercent }}">
                                            <h4><b>Paso {{ counter }}</b></h4>
                                            {{ test.step.step }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-md-1 col-sm-1">
                                </div>
                            </div>
                        </div>
                        <br><br>

                    </div>


                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>

                    <script>
                        {% if staff is not defined %}
                        $("#myModal").on("hidden.bs.modal", function () {
                            window.location.replace("{{ path('backend_staff_redeem') }}");
                        });
                        {% else %}
                            $("#myModal").on("hidden.bs.modal", function () {
                                window.location.replace("{{ path('backend_staff_redeem_points', {'staffId': staff.staffId}) }}");
                            });
                        {% endif %}
                    </script>


                    <!-- /.box-body -->

                </div>
            </div>
        </div>
    </section>

    <script>
        jQuery(function ($) {
            $(document).ajaxStop(function () {
                $(".loading-animation-panel").hide();
            });
            $(document).ajaxStart(function () {
                $(".loading-animation-panel").show();
            });
        });
    </script>


    <!-- /.box -->#}




    {{ render(controller("AppBundle:Frontend/Staff:headerPoints")) }}

    <div class="row">
		<div class="col-12">
			<div class="page-header">
			    <div class="page-block">
			        <div class="row align-items-center">
			            <div class="col-md-12">
			                <div class="page-header-title">
			                    <h5 class="m-b-10">Ver y Canjear Premios</h5>
			                </div>
			                <ul class="breadcrumb">
			                    <li class="breadcrumb-item"><a href="#!"><i class="feather icon-home"></i></a></li>
			                    <li class="breadcrumb-item"><a href="{{ path('backend_staff_redeem') }}">Catálogo de Premios</a></li>
			                    <li class="breadcrumb-item"><a href="#!">Confirmar Canje</a></li>
			                </ul>
			            </div>
			        </div>
			    </div>
			</div>			
		</div>		
	</div>
	<div class="main-body">
	    <div class="page-wrapper">
	        <div class="row">
	            <div class="col-sm-12">
	            	{{ include('@App/Backend/flash_message.html.twig') }}
	            	
					<div class="card">
                        <div class="card-header">
                            <h5>Confirmar Canje</h5>
                            
                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> Maximizar</span><span style="display:none"><i class="feather icon-minimize"></i> Restaurar</span></a></li>
                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> Ocultar</span><span style="display:none"><i class="feather icon-plus"></i> Expandir</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card-block">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <img class="card-img-top" src="{{ prize[0].prizeImagePath }}" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">{{ prize[0].prizeName }}</h6>
                                            <p class="card-text">
                                            <b>Q. {{ prize[0].prizeAmount }}</b>
                                            {% if prize[0].prizeQuantity != 'none' %}
                                                <br><b class="text-c-red">{{ prize[0].prizeQuantity }} disponibles</b>
                                            {% endif %}
                                            </p>
                                            <a href="{{ path('staff_get_prize',{'id': prize[0].prizeId,'channel':'WEB'} ) }}" class="btn btn-success">Canjear</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <h4 class="text-center">Instrucciones para reclamar tu premio:</h4>

                                    {% set counter = 0 %}
                                    <ul>
                                    {% for step in prizeSteps %}
                                        {% set counter = counter + 1 %}
                                            <li><b>Paso {{ counter }}: </b>{{ step.stepText }}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>
						
					</div>
				</div>
			</div>
		</div>
	</div> 








{% endblock %}

