<div class="card-header">
    <h5>Listado de Permisos</h5>
	<span  title="Agregar Permiso" data-toggle="tooltip">
		<a class="btn btn-icon btn-rounded theme-bg text-white" data-toggle="modal" data-target="#exampleModalLive"><span><i class="feather icon-plus"></i></span></a>
	</span>
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> Maximizar</span><span style="display:none"><i class="feather icon-minimize"></i> Restaurar</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> Ocultar</span><span style="display:none"><i class="feather icon-plus"></i> Expandir</span></a></li>
            </ul>
        </div>
    </div>
</div>


<div class="card-block table-border-style">
	<div class="table-responsive">
		<table class="table table-hover dataTable">
			<thead>
				<tr>
					<th>Id</th>
					<th>Rol</th>
					<th>Modulo</th>
					<th>Ver Modulo</th>
					<th>Leer</th>
					<th>Editar</th>
					<th>Eliminar</th>
					<th>Modulo de Inicio</th>
					<th>Herramientas</th>
				</tr>
			</thead>
			<tbody>
				{% for item in list %}
				<tr>
					<td>{{ item.id }}</td>
					<td>{{ item.userRole }}</td>
					<td>{{ item.module }}</td>
					<td>{% if item.viewModule %}<strong>SI</strong>
					{% else %}NO{% endif %}</td>
					<td>{% if item.readPermission %}<strong>SI</strong>
					{% else %}NO{% endif %}</td>
					<td>{% if item.editPermission %}<strong>SI</strong>
					{% else %}NO{% endif %}</td>
					<td>{% if item.deletePermission %}<strong>SI</strong>
					{% else %}NO{% endif %}</td>
					<td>{% if item.mainModule %}<strong>SI</strong>{% endif %}</td>
					<td>
						<a class="btn btn-icon btn-rounded theme-bg2 text-white" href="{{ path('backend_user_role_permission_edit', {'rolePmId': item.id|md5, 'roleId': item.userRole.id|md5}) }}" title="Editar Permiso" data-toggle="tooltip">
							<i class="feather icon-edit-1"></i>
						</a> 
						<span title="Eliminar Permiso" data-toggle="tooltip">
							<a id="btn-delete" class="btn btn-icon btn-rounded btn-danger text-white sweet-multiple" data-href="{{ path('backend_user_role_permission_delete', {'rolePmId': item.id|md5, 'roleId': item.userRole.id|md5}) }}" data-role="{{ item.userRole }}" data-module="{{ item.module }}" href="javascript:;">
								<i class="feather icon-trash-2"></i>
							</a>
						</span>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-body -->
</div>

{% block extra_scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$('.dataTable').DataTable({
			"language": idioma_español,
			"stateSave": true
		});

		$('table').on('click', '#btn-delete',function(){
			$('.sweet-multiple').on('click', function() {
				swal({
					title: '¿Seguro que desea eliminar el permiso "'+ $(this).attr('data-role') +' - '+ $(this).attr('data-module') +'" ?',
					icon: "warning",
					buttons: ["Cancelar",true],
					dangerMode: true,
				}).then((willDelete) => {
					if (willDelete) {
						swal({
							text: 'El permiso "'+ $(this).attr('data-role') +' - '+ $(this).attr('data-module') +'" se está eliminando',
							icon: "info",
							buttons: false,
							content: {
								element: "span",
								attributes: {
									className: "spinner-border spinner-border-sm"
								}
							}
						});
						window.location =  $(this).attr('data-href'); 
					}
				});
			});
		});
	
	});
</script>
{% endblock %}
