<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">Lista de archivos</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Nombre Archivo</th>
                <th>Tipo Archivo</th>
                <th>Creado por</th>
                <th>Fecha Creaci&oacute;n</th>
            </tr>
            {% for parserRegister in parserRegisters %}
            <tr>
                <td>{{ parserRegister.parserRegisterId }}</td>
                <td>
                    {% if parserRegister.fileName %}
                        <a
                            href="{{ path(
                                'backend_parser_register_download',
                                {'id': parserRegister.parserRegisterId}
                            ) }}"
                            class="link-to-file">
                            {{ parserRegister.fileName }}
                        </a>
                    {% endif %}
                </td>
                <td>{{ parserRegister.parserType.name }}</td>
                <td>{{ parserRegister.createdBy.email }}</td>
                <td>{{ parserRegister.createdAt|date('Y-m-d') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
    {{ knp_pagination_render(parserRegisters) }}
    </div>
</div>
<!-- /.box -->